<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome to Ting Ting's!</title>
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/index.css">
  <link rel="stylesheet" href="styles/query.css">
</head>
<body>
  <section class="container">
    <article>
      <h1>CSS & Javascript Note</h1>
      <p>Feel free to read and share my notes!</p>

      <table>
          <tr>
            <th>CSS</th>
            <th></th>
            <th></th>
          </tr>
          <tbody>
            <tr>
                <td>1. 標籤位置與選取器</td>
                <td>筆記</td>
                <td>練習</td>
            </tr>
            <tr>
                <td>2. 常用語法</td>
                <td>筆記</td>
                <td>練習</td>
              </tr>
              <tr>
                <td>3. Box Model</td>
                <td>筆記</td>
                <td>練習</td>
              </tr>
          <tr>
              <td>4. 進階語法</td>
              <td>筆記</td>
              <td>練習</td>
          </tr>
          <tr>
              <td>5. 新聞排版</td>
              <td>筆記</td>
              <td>練習</td>
            </tr>
            <tr>
              <td>6. 個人簡歷</td>
              <td>筆記</td>
              <td>練習</td>
            </tr> 
            <tr>
                <td>7. scss. sass</td>
                <td>筆記</td>
                <td>練習</td>
            </tr>
            <tr>
                <td>8. flexbox 進階排版</td>
                <td>筆記</td>
                <td>練習</td>
              </tr>
              <tr>
                <td>9. flexbox froggy 青蛙攻略</td>
                <td>筆記</td>
                <td>網址</td>
              </tr>  
              <tr>
                  <td>10. bootstrap</td>
                  <td>筆記</td>
                  <td>練習</td>
                </tr>
                <tr>
                  <td>11. RWD 筆記</td>
                  <td>筆記</td>
                  <td>練習</td>
                </tr>                                         
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
        </table>          
    </article>

    <aside>
      <h1>Discover</h1>
      <ul>
        <li><a href="/about" target="blank">About Me</a></li>
        <li>CSS</li>
        <li> - Bootstrap</li>
        <li> - Flexbox</li>        
        <li> - News Website</li>                
        <li>Javascript</li>
        <li><a href="/bmi" target="blank"> - BMI Counter</a></li>        
        <li><a href="/cardgame" target="blank">- Card Game </a></li>
        <li><a href="/cart" target="blank"> - Shopping Cart(DOM)</a></li> 
        <li><a href="/chart" target="blank"> - Chart(Ajax API)</a></li>                 
        <li>My Learning Note</li>
        <li>Links & Resources</li>                   
        <li><a href="/">Home</a></li>        
      </ul>
    </aside>
    <div class="clearfix"></div>
  </section>
</body>
</html>