body {
  background-color: #f1f1f1;
}

.clearfix {
  clear: both;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
}

article {
  background-color: white;
  padding: 20px 20px;
  width: 79%;
  border-radius: 5px;
  float: left;
  box-sizing: border-box;
  margin-right: 1%;
}

article p {
  line-height: 30px;
  font-weight: 200;
}

aside a {
  color: rgb(139, 33, 226);
  text-decoration: none;
}

aside a:hover {
  color: rgb(216, 68, 154);
  transition: color 0.5s;  
}

aside {
  padding: 10px 30px;
  width: 20%;
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  float: left;
}

aside ul {
  list-style: none;
  padding-left: 0;
}

aside ul li {
  line-height: 30px;
  font-weight: 200;
}